[submodule "base_model/ConPLex_dev"]
	path = base_model/ConPLex_dev
	url = https://github.com/samsledje/ConPLex_dev.git
[submodule "base_model/DrugBAN"]
	path = base_model/DrugBAN
	url = https://github.com/peizhenbai/DrugBAN.git
[submodule "base_model/TransformerCPI"]
	path = base_model/TransformerCPI
	url = https://github.com/lifanchen-simm/TransformerCPI.git
[submodule "base_model/DeepConv-DTI"]
	path = base_model/DeepConv-DTI
	url = https://github.com/GIST-CSBL/DeepConv-DTI.git
